/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.titles {
  font-family: "Shrikhand", cursive;
}

.fonts {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}
.header__title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  font-size: 16px;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 0.52);
  z-index: 10;
}
.header__location {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 18px;
  background-color: rgb(230, 230, 230);
}
.header__location p {
  padding-right: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(60, 60, 60);
  color: white;
}
footer h3 {
  width: 90%;
  margin: 30px auto;
}
footer ul {
  width: 90%;
  margin: 0 auto 30px;
}
footer ul li {
  color: white;
  margin-bottom: 5px;
}
footer ul li .footer-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
footer ul li .footer-link .icons {
  width: 30px;
  text-align: start;
}

.booking {
  margin-bottom: 20px;
}
.booking .booking__explore {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}
.booking .booking__explore h1 {
  margin: 30px auto;
  font-size: 26px;
}
.booking .booking__explore p {
  text-align: center;
  width: 80%;
  font-size: 18px;
  font-weight: 300;
}
.booking .booking__explore button {
  margin: 30px 0 50px 0;
  height: 50px;
  width: 60%;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
}
.booking .booking__how {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.booking .booking__how h1 {
  margin: 40px auto 10px;
  font-size: 26px;
  width: 90%;
}
.booking .booking__how ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.booking .booking__how ul li {
  width: 90%;
}
.booking .booking__how ul li button {
  margin: 15px;
  height: 80px;
  width: 95%;
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
}
.booking .booking__how ul li button span {
  position: absolute;
  left: 5%;
  color: white;
  background-color: #9356DC;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  font-size: 18px;
}
.booking .booking__how ul li button p {
  margin-left: 20px;
  text-align: start;
  font-weight: 500;
}
.booking .booking__how ul li button p .icons {
  color: gray;
}

.restaurant {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 20px auto 0px;
  background-color: rgb(240, 240, 240);
}
.restaurant h1 {
  width: 90%;
  height: auto;
  padding: 0;
  margin: 30px auto 0;
  font-size: 26px;
}
.restaurant ul {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.restaurant ul li {
  margin: 10px auto;
  background-color: white;
  height: 250px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(105, 105, 105, 0.35);
}
.restaurant ul li a img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant ul li a h3 {
  margin: 10px 0 0 10px;
}
.restaurant ul li a p {
  font-weight: 300;
  margin: 0 0 10px 10px;
}

.menu-page {
  background-color: rgb(240, 240, 240);
}

.main {
  position: relative;
  bottom: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 35px 35px 0 0;
}
.main__title {
  padding: 35px 20px;
  font-size: 26px;
}

.menu {
  width: 90%;
  margin: -30px 20px;
}
.menu__section {
  padding-bottom: 30px;
}
.menu__title {
  width: 45px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
}
.menu-card {
  height: 90px;
}
.menu-card__button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: 70px;
  margin: 10px 0;
  text-align: start;
  overflow: hidden;
}
.menu-card__button:focus .menu-card__tick {
  display: block;
}
.menu-card__button:focus .menu-card__info {
  width: 78%;
}
.menu-card__info {
  width: 100%;
}
.menu-card__title {
  width: 60%;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 17px;
}
.menu-card__description {
  position: relative;
  top: 0;
  font-size: 17px;
  display: inline-block;
  padding-left: 10px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-card__price {
  display: inline-block;
  position: relative;
  bottom: 8px;
  font-size: 17px;
  width: 10%;
  margin: 0 10px;
}
.menu-card__tick {
  display: block;
  position: relative;
  left: 10px;
  background-color: #99E2D0;
  height: 92px;
  width: 22%;
  z-index: 10;
  text-align: center;
  font-size: 23px;
  color: white;
}
.menu-card__tick-icon {
  position: relative;
  right: 5px;
  top: 32px;
}

.icons {
  display: inline-block;
  width: 50px;
  font-size: 20px;
  text-align: center;
}

.new-tag {
  position: relative;
  left: 73%;
  bottom: 60%;
  margin-bottom: -25px;
  height: 30px;
  width: 80px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  background-color: #99E2D0;
  color: #418574;
  border-radius: 3px;
}

.button {
  border: none;
  font-size: 18px;
  box-shadow: 0px 5px 10px 0px rgba(105, 105, 105, 0.35);
  transition-duration: 0.1s;
}
.button:active {
  box-shadow: 0px 5px 10px 0px rgba(105, 105, 105, 0.5);
}

.heart-btn {
  position: relative;
  left: 85%;
  bottom: 23%;
  margin-bottom: -25px;
  font-size: 26px;
  font-weight: 300;
  background-color: white;
  border: none;
  color: black;
  z-index: 10;
}
.heart-btn .heart-liked {
  display: none;
}
.heart-btn:focus {
  color: #9356DC;
}
.heart-btn:focus .heart-not-liked {
  display: none;
}
.heart-btn:focus .heart-liked {
  display: inline-block;
}

.heart-btn--menu {
  bottom: 75px;
  background-color: rgb(240, 240, 240);
}

.back-btn {
  display: block;
  position: absolute;
  left: 6%;
  top: 22px;
  z-index: 10;
  background-color: white;
  border: none;
  font-size: 22px;
}/*# sourceMappingURL=main.css.map */