/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
span,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.logo {
  font-family: "Shrikhand", cursive;
}

.fonts {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}
.header__title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  font-size: 16px;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 0.52);
  z-index: 10;
}
.header__location {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 18px;
  background-color: rgb(230, 230, 230);
}
.header__location p {
  padding-right: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(60, 60, 60);
  color: white;
}
.footer__title {
  width: 90%;
  margin: 30px auto;
}
.footer__list {
  width: 90%;
  margin: 0 auto 30px;
}
.footer__link {
  color: white;
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.footer .icons {
  width: 30px;
  text-align: start;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .footer {
    position: relative;
    top: 20px;
    height: 150px;
  }
  .footer__title {
    text-align: center;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .footer__link {
    margin: 0 40px;
  }
}
.icons {
  display: inline-block;
  width: 50px;
  font-size: 20px;
  text-align: center;
}

.new-tag {
  position: relative;
  left: 73%;
  bottom: 60%;
  margin-bottom: -25px;
  height: 30px;
  width: 80px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  background-color: #99e2d0;
  color: #418574;
  border-radius: 3px;
}

.btn {
  border: none;
  font-size: 18px;
  box-shadow: 0px 5px 10px 0px rgba(105, 105, 105, 0.35);
  transition-duration: 0.1s;
  padding: 0;
}
.btn:hover, .btn:focus {
  box-shadow: 0px 5px 10px 0px rgba(105, 105, 105, 0.5);
  border: none;
  padding: 0;
}

.booking-explore__btn,
.order__btn {
  margin: 20px 0 50px 0;
  height: 50px;
  width: 60%;
  color: white;
  background: #d36bdb;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.4s ease-out 0.1s;
}
.booking-explore__btn:focus, .booking-explore__btn:hover,
.order__btn:focus,
.order__btn:hover {
  background: none #ff79da;
}

.heart-btn {
  position: relative;
  left: 85%;
  bottom: 23%;
  margin-bottom: -25px;
  font-size: 26px;
  font-weight: 300;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  z-index: 10;
}
.heart-btn .heart-liked {
  display: none;
}
.heart-btn:focus {
  background: linear-gradient(#fff 20%, #9356dc 50%);
  background-size: auto 500%;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  animation: heart 1.5s linear 1;
  animation-fill-mode: forwards;
}
@keyframes heart {
  to {
    background-position: center;
  }
}
.heart-btn:focus .heart-not-liked {
  display: none;
}
.heart-btn:focus .heart-liked {
  display: inline-block;
}

.heart-btn--menu {
  bottom: 75px;
  background-color: rgb(240, 240, 240);
}

.back-btn {
  display: block;
  position: absolute;
  left: 6%;
  top: 22px;
  z-index: 10;
  background-color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .booking-explore__btn,
  .order__btn {
    width: 35%;
  }
  .heart-btn--menu {
    left: 200px;
    bottom: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .booking-explore__btn,
  .order__btn {
    width: 63%;
  }
  .heart-btn--menu {
    left: 200px;
    bottom: 80px;
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99;
  animation: load 0.1s linear 3s 1;
  animation-fill-mode: forwards;
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}
.loader__container {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader__circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}
.loader__circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.loader__circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.loader__shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
.loader__shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.loader__shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.loader__loading {
  position: absolute;
  top: 80px;
  font-size: 20px;
  opacity: 0.5;
  left: 30%;
}

.tertiary--circle {
  background-color: #99e2d0;
}

.secondary--circle {
  background-color: #ff79da;
}

.primary--circle {
  background-color: #9356dc;
}

.menu-page .menu-starter {
  animation-delay: 0.2s;
}
.menu-page .menu-starter .menu-card-starter:nth-child(1) {
  animation-delay: 0.4s;
}
.menu-page .menu-starter .menu-card-starter:nth-child(2) {
  animation-delay: 0.6s;
}
.menu-page .menu-starter .menu-card-starter:nth-child(3) {
  animation-delay: 0.8s;
}
.menu-page .menu-lunch {
  animation-delay: 1s;
}
.menu-page .menu-lunch .menu-card-lunch:nth-child(1) {
  animation-delay: 1.2s;
}
.menu-page .menu-lunch .menu-card-lunch:nth-child(2) {
  animation-delay: 1.4s;
}
.menu-page .menu-lunch .menu-card-lunch:nth-child(3) {
  animation-delay: 1.6s;
}
.menu-page .menu-dinner {
  animation-delay: 1.6s;
}
.menu-page .menu-dinner .menu-card-dinner:nth-child(1) {
  animation-delay: 1.8s;
}
.menu-page .menu-dinner .menu-card-dinner:nth-child(2) {
  animation-delay: 2s;
}
.menu-page .menu-dinner .menu-card-dinner:nth-child(3) {
  animation-delay: 2.2s;
}

.menu-enchanted-plate .menu-starter {
  animation-delay: 0.2s;
}
.menu-enchanted-plate .menu-starter .menu-card-starter:nth-child(1) {
  animation-delay: 0.4s;
}
.menu-enchanted-plate .menu-starter .menu-card-starter:nth-child(2) {
  animation-delay: 0.6s;
}
.menu-enchanted-plate .menu-starter .menu-card-starter:nth-child(3) {
  animation-delay: 0.8s;
}
.menu-enchanted-plate .menu-starter .menu-card-starter:nth-child(4) {
  animation-delay: 1s;
}
.menu-enchanted-plate .menu-lunch {
  animation-delay: 1.2s;
}
.menu-enchanted-plate .menu-lunch .menu-card-lunch:nth-child(1) {
  animation-delay: 1.4s;
}
.menu-enchanted-plate .menu-lunch .menu-card-lunch:nth-child(2) {
  animation-delay: 1.6s;
}
.menu-enchanted-plate .menu-lunch .menu-card-lunch:nth-child(3) {
  animation-delay: 1.8s;
}
.menu-enchanted-plate .menu-dinner {
  animation-delay: 1.8s;
}
.menu-enchanted-plate .menu-dinner .menu-card-dinner:nth-child(1) {
  animation-delay: 2s;
}
.menu-enchanted-plate .menu-dinner .menu-card-dinner:nth-child(2) {
  animation-delay: 2.2s;
}
.menu-enchanted-plate .menu-dinner .menu-card-dinner:nth-child(3) {
  animation-delay: 2.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.booking {
  margin-bottom: 20px;
}

.booking-explore {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}
.booking-explore__title {
  margin: 30px auto 20px auto;
  font-size: 26px;
  height: 40px;
}
.booking-explore__info {
  text-align: center;
  width: 80%;
  height: 55px;
  font-size: 18px;
  font-weight: 300;
  margin: 10px auto;
}

.booking-how {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.booking-how__title {
  margin: 40px auto 10px;
  font-size: 26px;
  width: 90%;
}
.booking-how__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.booking-how__card {
  width: 90%;
  height: 80px;
  margin-bottom: 30px;
}
.booking-how__btn {
  margin: 15px;
  height: 80px;
  width: 95%;
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
}
.booking-how__btn:hover, .booking-how__btn:focus {
  background-color: #fceef8;
}
.booking-how__btn:hover .booking-how__icon, .booking-how__btn:focus .booking-how__icon {
  color: #9356dc;
}
.booking-how__num {
  position: absolute;
  left: 5%;
  color: white;
  background-color: #9356dc;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  font-size: 18px;
}
.booking-how__info {
  margin-left: 20px;
  display: block;
  text-align: left;
  font-weight: 500;
  width: 290px;
}
.booking-how__icon {
  color: gray;
}

.restaurant {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 20px auto 0px;
  background-color: rgb(240, 240, 240);
}
.restaurant__title {
  width: 90%;
  height: auto;
  padding: 0;
  margin: 30px auto 0;
  font-size: 26px;
}
.restaurant__list {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.restaurant-card {
  margin: 10px auto;
  background-color: white;
  height: 250px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(105, 105, 105, 0.35);
}
.restaurant-card__img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-card__title {
  margin: 10px 0 0 10px;
}
.restaurant-card__info {
  font-weight: 300;
  margin: 0 0 10px 10px;
}

@media screen and (min-width: 1024px) {
  .booking-how__title {
    text-align: center;
  }
  .booking-how__list {
    width: 40%;
  }
  .booking-how__num {
    left: 32%;
  }
  .restaurant {
    background-color: white;
  }
  .restaurant__title {
    text-align: center;
  }
  .restaurant__list {
    width: 60%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .restaurant-card {
    width: 47%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .booking-how__title {
    text-align: center;
  }
  .booking-how__list {
    width: 70%;
  }
  .booking-how__num {
    left: 18.5%;
  }
  .restaurant {
    background-color: white;
  }
  .restaurant__title {
    text-align: center;
  }
  .restaurant__list {
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .restaurant-card {
    width: 47%;
    margin-bottom: 20px;
  }
}
.menu-page {
  background-color: rgb(240, 240, 240);
}

.banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 290px;
}

.main {
  position: relative;
  bottom: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 35px 35px 0 0;
}
.main__title {
  margin: 0 5%;
  padding: 35px 0;
  font-size: 26px;
}

.menu {
  width: 90%;
  margin: -30px 5%;
}
.menu__section {
  margin-bottom: 30px;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}
.menu__title {
  width: 50px;
  font-weight: 300;
  border-bottom: 3px solid #99e2d0;
  white-space: nowrap;
}
.menu-card {
  height: auto;
  border: none;
  margin: 10px 0;
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
}
.menu-card__button {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: auto;
  text-align: start;
  overflow: hidden;
}
.menu-card__button:hover .menu-card__info, .menu-card__button:focus .menu-card__info {
  transition: width 0.4s ease-in;
  width: calc(100% - 83px);
}
.menu-card__button:hover .menu-card__tick, .menu-card__button:focus .menu-card__tick {
  transition: right 0.4s ease-in;
  right: 0;
}
.menu-card__button:hover .menu-card__tick-icon, .menu-card__button:focus .menu-card__tick-icon {
  transition: transform 0.45s ease-in;
  transform: rotate(0deg);
}
.menu-card__title {
  font-weight: 500;
  width: 100%;
  padding-right: 83px;
  padding-left: 10px;
  margin-top: 12px;
  font-size: 17px;
}
.menu-card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 12px;
}
.menu-card__description {
  font-size: 15px;
  font-weight: 300;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-card__price {
  width: 20%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.menu-card__tick {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -83px;
  top: 0;
  background-color: #99e2d0;
  height: 100%;
  width: 83px;
  font-size: 23px;
  color: white;
}
.menu-card__tick-icon {
  transform: rotate(-360deg);
}

.order {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .banner__img {
    height: 350px;
  }
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .main__title {
    text-align: center;
  }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    width: 75%;
  }
  .menu__section {
    width: 30%;
    margin: 10px auto 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .main__title {
    text-align: center;
  }
  .menu {
    align-items: flex-start;
    width: 80%;
  }
  .menu__section {
    width: 75%;
    margin: 10px auto 30px;
  }
}/*# sourceMappingURL=main.css.map */