.menu-page {
  background-color: $light-gray;
}
.banner {
  &__img {
    object-fit: cover;
    width: 100%;
    height: 290px;
  }
}
.main {
  position: relative;
  bottom: 40px;
  background-color: $light-gray;
  border-radius: 35px 35px 0 0;
  &__title {
    margin: 0 5%;
    padding: 35px 0;
    font-size: 26px;
  }
}
.menu {
  width: 90%;
  margin: -30px 5%;
  &__section {
    margin-bottom: 30px;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }
  &__title {
    width: 50px;
    font-weight: 300;
    border-bottom: 3px solid $tertiary-color;
    white-space: nowrap;
  }
  &__list {
  }
}
.menu-card {
  height: auto;
  border: none;
  margin: 10px 0;
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  &__button {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    height: auto;
    text-align: start;
    overflow: hidden;
    &:hover,
    &:focus {
      .menu-card__info {
        transition: width 0.4s ease-in;
        width: calc(100% - 83px);
      }
      .menu-card__tick {
        transition: right 0.4s ease-in;
        right: 0;
      }
      .menu-card__tick-icon {
        transition: transform 0.45s ease-in;
        transform: rotate(0deg);
      }
    }
  }
  &__title {
    font-weight: 500;
    width: 100%;
    padding-right: 83px;
    padding-left: 10px;
    margin-top: 12px;
    font-size: 17px;
  }
  &__info {
    @include flex-row;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 12px;
  }
  &__description {
    font-size: 15px;
    font-weight: 300;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__price {
    width: 20%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
  &__tick {
    @include flex-column;
    position: absolute;
    right: -83px;
    top: 0;
    background-color: $tertiary-color;
    height: 100%;
    width: 83px;
    font-size: 23px;
    color: white;
  }
  &__tick-icon {
    transform: rotate(-360deg);
  }
}
.order {
  @include flex-row;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .banner {
    &__img {
      height: 350px;
    }
  }
  .main {
    @include flex-column;
    &__title {
      text-align: center;
    }
  }
  .menu {
    @include flex-row;
    align-items: flex-start;
    width: 75%;
    min-width: 1000px;
    &__section {
      width: 30%;
      margin: 10px auto 30px;
    }
  }
  .menu-card {
    &__button {
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    @include flex-column;
    &__title {
      text-align: center;
    }
  }
  .menu {
    align-items: flex-start;
    width: 80%;
    &__section {
      width: 75%;
      margin: 10px auto 30px;
    }
  }
  .menu-card {
    &__button {
    }
  }
}
