.button {
    border: none;
    font-size: 18px;
    box-shadow: 0px 5px 10px 0px rgba(105,105,105,0.35);
    transition-duration: 0.1s;
    &:active {
        box-shadow: 0px 5px 10px 0px rgba(105,105,105,0.5);
    }
}