
.booking-explore {
    @include flex-column;
     background-color: $light-gray;
    & h1 {
        margin: 30px auto;
        font-size: 26px;
        }
    & p {
        text-align: center;
        width: 80%;
        font-size: 18px;
        color: rgb(87, 87, 87);
        }
    & button {
        margin: 30px 0 50px 0;
        height: 50px;
        width: 60%;
        color: white;
        background-image: linear-gradient(to bottom right,$secondary-color, $primary-color);
        border-radius: 25px;
        box-shadow: 0px 5px 10px 0px rgba(105,105,105,0.35);
        }
}

.booking-how {
    @include flex-column;
    & h1 {
        margin: 40px auto 10px;
        font-size: 26px;
        width: 90%;
    }
    & button {
        margin: 15px;
        height: 80px;
        width: 85%;
        background-color: $light-gray;
        border-radius: 25px;
        box-shadow: 0px 5px 10px 0px rgba(105,105,105,0.35);
        & span {
            position: absolute;
            left: 5%;
            color: white;
            background-color: $primary-color;
            height: 26px;
            width: 26px;
            border-radius: 15px;
            font-size: 18px;
        }
        & p {
            margin-left: 20px;
            text-align: start;
            font-weight: 500;
            & .icons {
                color: gray;
            }
        }
    }

}

